.posts .slick-slider {
  color: #fff;
  text-align: center;
  .slick-slide {
    padding: 0 15px;
    text-align: left;
    position: relative;
    .posts__date {
      display: inline-block;
      position: absolute;
      top: 5%;
      left: 7%;
      width: 50px;
      height: 60px;
      z-index: 10;
      .date-number {
        font: 24px "MontSerratLight", sans-serif;
        border-radius: 5px 5px 0 0;
        color: #fff;
        padding: 10px;
        background: #363636;
        transition: .2s all linear;
      }
      .date-month {
        font: 12px "MontSerratLight";
        border-radius: 0 0 5px 5px;
        color: #fff;
        padding: 5px 10px;
        text-transform: capitalize;
        background: #252525;
        transition: .2s all linear;
      }
    }
    .img-wrap {
      position: relative;
    }
    .img-wrap:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000;
      opacity: 0;
      transition: .2s all linear;
    }
    .posts__description {
      padding-left: 25px;
      transition: .2s all linear;
    }
    .posts__description-title {
      font: 20px "RaleMedium", sans-serif;
      color: #555;
      padding: 30px 0;
    }
    .posts__description-text {
      font: 14px "MontSerratLight", sans-serif;
      line-height: 22px;
      padding-bottom: 25px;
      color: #8c8c8c;
    }
    .posts__link {
      color: #c7b299;
      display: inline-block;
      font: 14px "MontSerratLight", sans-serif;
      text-transform: capitalize;
      padding-bottom: 30px;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        height: 8px;
        background: transparent url('./images/arrow.png') 50% no-repeat;
        bottom: 34px;
        right: -15px;
      }
    }
  }
  .slick-next {
    top: 105%;
    right: 47%;
    &:before {
      content: '';
      opacity: .6;
      display: block;
      width: 25px;
      height: 25px;
      border: none;
      border-radius: 50%;
      background: url('./images/right.png') 50% no-repeat;
      transition: .3s all linear;
    }
    &:hover:before {
      opacity: .7;
    }
  }
  .slick-prev {
    top: 105%;
    left: 47%;
    &:before {
      content: '';
      display: block;
      width: 25px;
      opacity: .8;
      height: 25px;
      border: none;
      background: url('./images/left.png') 50% no-repeat;
      transition: .2s all linear;
    }
    &:hover:before {
      opacity: 1;
    }
  }
}

.posts .slick-slide:hover {
  .img-wrap:after {
    opacity: .5;
  }
  .posts__description {
    background: #777;
    .posts__description-title {
      color: #f3efea;
    }
    .posts__description-text {
      color: #fff;
    }
  }
  .posts__date .date-number {
    background: #c7b299;
  }
  .posts__date .date-month {
    background: #a48d72;
  }
}