footer {
  flex: 0 0 auto;
  color: #fff;
  font: 14px "MontSerratLight", sans-serif;
  line-height: 24px;
  .footer__text-info {
    transition: .2s all linear;
    color: #555;
    padding-bottom: 35px;
    .footer__text-time {
      color: #363636;
    }
  }
  .footer__post {
    border-bottom: 1px solid #363636;
  }
  .footer__resent-list {
    li {
      transition: .2s all linear;
    }
    li:last-child {
      border: none;
    }
    .footer__text {
      color: #555;
      padding-bottom: 20px;
    }
    .footer__text-time {
      padding-top: 15px;
    }
  }
  .footer__twit-list {
    li {
      transition: .2s all linear;
    }
    li:last-child {
      border: none;
    }
    .footer__text-time {
      padding: 10px 0 20px 0;
    }
    .footer__text {
      color: #555;
      padding-top: 15px;
    }
  }

  .footer__list-wrap {
    background: #191919;
    padding: 75px 0;
  }

  .footer__list {
    display: flex;
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    > li {
      flex-basis: calc(100% / 4);
      margin-right: 30px;
      &:last-child {
        margin: 0;
      }
    }
    .footer__logo {
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      .footer__logo-link {
        display: block;
        width: 64px;
        height: 56px;
      }
      h2 {
        font: 34px "RaleRegular", sans-serif;
        padding-left: 5px;
      }
    }
    h3 {
      font: 24px "RaleBold", sans-serif;
    }
    .footer__widget-header {
      padding-bottom: 35px;
    }
    .footer__resent-header, .footer__twit-header {
      padding-bottom: 15px;
    }
  }

  .footer__widget-list {
    display: flex;
    flex-wrap: wrap;
    li {
      flex-basis: calc(100% / 2);
      padding: 0 10px 10px 0;
    }
  }
  .footer__resent-list .footer__text:hover, .footer__twit-list .footer__text:hover, .footer__text-info:hover {
    color: #c7b299;
  }
  .footer__resent-list .footer__text:hover .footer__text-time, .footer__twit-list .footer__text:hover .footer__text-time {
    color: #fff;
  }
  .footer__sub {
    background: #111;
    padding: 40px 0;
    font: 13px "MontSerratLight", sans-serif;
    color: #555;
    .footer__sub-list {
      display: flex;
      li {
        padding: 0 10px;
        position: relative;
        &:after {
          content: '';
          border-right: 1px solid #555;
          display: block;
          width: 1px;
          height: 13px;
          position: absolute;
          right: 0;
          top: 2px;
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child:after {
          display: none;
        }
        a {
          align-items: center;
          color: #555;
          transition: .2s all linear;
        }
      }
      a:hover {
        color: #fff;
      }
    }
    .footer__design-link {
      color: #555;
      display: inline-block;
      position: relative;
      padding-right: 10px;
      transition: .2s all linear;
      &:after {
        content: '';
        border-right: 1px solid #555;
        display: block;
        width: 1px;
        height: 13px;
        position: absolute;
        right: 0;
        top: 2px;
      }
      &:hover {
        color: #fff;
      }
    }
    .footer__market-link {
      color: #555;
      display: inline-block;
      padding-left: 10px;
      transition: .2s all linear;
      &:hover {
        color: #fff;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .footer__list {
    flex-wrap: wrap;
    > li {
      flex-basis: calc(100% / 2);
      margin: 0;
      padding: 0 10px;
    }
  }
}

@media(min-width: 451px) and (max-width: 767px) {
  footer .footer__list > li {
    flex-basis: initial;
    margin: 0 0 30px 0;
  }
  footer .footer__list {
    flex-direction: column;
    text-align: center;
  }
  footer .footer__list .footer__logo {
    transform: translateX(33%);
  }
  footer .footer__list-wrap {
    padding: 50px 10px;
  }
  footer .footer__widget-list li {
    padding: 0 5px 10px;
  }
  footer .footer__sub {
    text-align: center;
    padding: 20px 0;
    .container {
      flex-direction: column;
    }
  }
  footer .footer__sub .footer__sub-list {
    flex-direction: column;
  }
}

@media(max-width: 450px) {
  footer .footer__list > li {
    flex-basis: initial;
    margin: 0 0 30px 0;
  }
  footer .footer__list {
    flex-direction: column;
    text-align: center;
  }
  footer .footer__list .footer__logo {
    transform: translateX(20%);
  }
  footer .footer__list-wrap {
    padding: 50px 10px;
  }
  footer .footer__widget-list li {
    padding: 0 5px 10px;
  }
  footer .footer__sub {
    text-align: center;
    padding: 20px 0;
    .container {
      flex-direction: column;
    }
  }
  footer .footer__sub .footer__sub-list {
    flex-direction: column;
  }
}